[user]
	name = 姜大龙
	email = jiangdalong@meituan.com
[core]
	excludesfile = /Users/dalonng/.gitignore_global
	editor = emacs
	[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
	[diff]
	tool = Kaleidoscope
	[difftool]
	prompt = false

	[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
	[mergetool]
	prompt = false
	[merge]
	tool = Kaleidoscope
[push]
	default=current
[color]
	ui=auto
[alias]
	aa = add --all
	co = checkout
	st = status
	br = branch
	ci = commit -v
	ca = commit --amend
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	dump = cat-file -p
	pull = up
	cl = clone
	up = !git fetch origin && git rebase origin/master
	last = log -l HEAD
	visual = !gitk
	l = log --oneline --graph
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
